<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get weather conditions</title>
    <link href="{{url_for('static', filename='styles/style.css')}}" rel="stylesheet" />

    <!-- For the live server -->
    <link rel="stylesheet" href="/static/styles/style.css">
</head>

<body>
    <img class="cloud1" src="/static/images/cloud1.png" alt="">
    <img class="cloud3" src="/static/images/cloud3.png" alt="">
    <img class="sun" src="/static/images/sun-48190.png" alt="">
    <div class="title-section">
        <h1 class="title">Weather Application</h1>
        <h2 class="subtitle">Get weather info for your city</h2>
    </div>

    <img class="cloud2" src="/static/images/cloud2.png" alt="">


    <div class="input-section">
        <p class="input-text">Enter a city name: </p>
        <form action="/weather ">
            <input type="text" name="city" id="city" placeholder="Your city" />
            <button type="submit" id="form-button">Get info</button>
        </form>
    </div>



    
</body>
</html>