body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;


    width: 100%;
    height: 100%;

    position: relative;
    z-index: -10;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.city-name-section{
    background-color: rgba(37, 37, 37, 0.33);
    color: whitesmoke;

    text-align: center;
    display: flex;
    flex-direction: column;

    margin:2rem 0;
}

.city-name{
    font-weight: 800;
    font-size: 3rem;
    padding: 0 2rem;
}

.info{
    font-weight: 400;
    font-size: 1.5rem;
}

.info-section,.form-section{
    display: flex;
    flex-direction: column;

    min-width: fit-content;
    max-width: 50%;
    background-color: whitesmoke;

    padding: 2rem;
    border-radius: 10px;

    align-items: center;
    margin: auto;
}

.form-section{
    margin-top: 2rem;
}

form{
    display: flex;
    flex-direction: column;
}

#city{
    font-size: 1.5rem;
    padding: 1rem;
    border-style: none;
    border-radius: 10px;
    text-align: center;
}

#form-button{
    border-style: none;
    border-radius: 8px;

    background-color: rgb(23, 23, 23);
    color: whitesmoke;

    font-weight: 700;
    height: 3rem;

    margin-top: 2rem;
    width: 100%;
}


@media screen and (max-width: 600px) {
    html{
        font-size: 12px;
    }
}